


    body {
        display: grid;
        place-items: center;
        background-color: #0dc3f6;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px;
      }
      
      .d {
        background-color: #f7e19a;
        padding: 20px;
        border-radius: 10px;
        

      }
      
      h1 {
        color: #8873be;
      }
